<!--
<div class="container-fluid">  
            <ul class="nav nav-list">  
              <li class="active">
	      	  <li><a href="#">Shop</a></li>  
              <li><a href="#">And it to Cart</a></li>  
            </ul>  
</div> 
-->
<div>
	<%= form_tag("/orders", method: "get", class: "navbar-form") do %>
		<%= submit_tag "ADD TO CART" , data: {} %>
	<% end %>
</div>