<div ng-controller="OrdersCtrl">
  <h1>Cart</h1>

  <form class="form-inline" ng-submit="addOrder()">

    <input type="number" min="1" max="5" step="1" style="-moz-appearance:textfield" ng-model="newOrder.total" class="form-control" placeholder="Number">

    <select ng-model="newOrder.product_id" class="form-control">
      <option value="" disabled selected>Select a product</option>
      <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
    </select>
    <!-- <input type="number" ng-model="newOrder.user_id"> -->

    <input type="submit" value="+" class="btn btn-success">
  </form>

  <table class="table table-hover">
    <thead>
      <td>Number</td>
      <td>Product</td>
      <td>Unit Price</td>
      <td>Total</td>
      <td></td>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders | orderBy:'-id':reverse">

        <td>
          <strong>{{order.total}}</strong>
        </td>
        
        <td>
          <stong>{{order.product.name}}</stong>
        </td>

        <td>
          <stong>{{order.product.price}}</stong>
        </td>

        <td>
          <button ng-click="deleteOrder(order)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </td>
      </tr>
    </tbody>
  </table>

</div> <!-- ng-controller -->
